<!-- components/menu.html -->

<div class="menu-wrapper">

    <!-- Three Dot Button -->
    <button
        class="menu-toggle"
        id="menuToggle"
        type="button"
        aria-label="Open Menu"
        aria-expanded="false"
    >
        ⋮
    </button>


    <!-- Menu -->
    <div
        class="menu-dropdown"
        id="menuDropdown"
        hidden
    >

        <a href="pages/login.html">
            Login
        </a>

        <a href="pages/register.html">
            Register
        </a>

        <a href="pages/profile.html">
            Profile
        </a>

        <a href="tests/tests.html">
            All Tests
        </a>

        <a href="pages/categories.html">
            Exam Categories
        </a>

        <a href="pages/about.html">
            About Examora
        </a>

    </div>

</div>
